<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选课面板</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style type="text/css">

    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">北航附中选课系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">选课面板</a></li>
                <li><a href="#">我的已报课程</a></li>
                <li><a href="#">修改密码</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="mohu" type="text" class="form-control" placeholder="请输入关键词，筛选课程">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎！<%= xingming %> 学号<%= xuehao %></a></li>
                <li><a href="#">退出登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<section class="container">
    <table class="table" >
        <tr>
            <th>课程编号</th>
            <th>课程名字</th>
            <th>星期几</th>
            <th>剩余量</th>
            <th>允许年级</th>
            <th>老师</th>
            <th class="col-lg-5">简介</th>
            <th class="col-lg-2">报名按钮</th>
        </tr>
        <tbody id="corses_table">

        </tbody>
    </table>
    <script type="text/template" id="template">
        <tr>
            <td>{%= cid %}</td>
            <td><a href="/course/{%= cid %}">{%= name %}</a></td>
            <td>{%= date %}</td>
            <td>{%= number %}</td>
            <td>{%= grade %}</td>
            <td>{%= teacher %}</td>
            <td>{%= detail %}</td>
            <td>
                <input type="button" class="btn btn-{%= btnclass %}" {%= disabled %} value="{%= btnvalue %}"/>
            </td>
        </tr>
    </script>


    <script type="text/javascript" src="/public/js/underscore-min.js"></script>
    <script type="text/javascript" src="/public/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
        var template = $("#template").html();
        var complied = _.template(template);

        getinfoandcreatetable();

        function getinfoandcreatetable(url){
            if(url == undefined){
                url = "/admin/course/all";
            }
            //清空表格
            $("#corses_table").empty();
            var thisusergrade = <%= grade %>;

            $.get(url,function(data){
                $.get("/student/<%= xuehao %>/courses",function(data2){
                    //循环语句，遍历每个课程
                    data.results.forEach(function(dictionary){
                        //五件事儿

                        //①这个课程是否已经被报了
                        if(_.indexOf(data2.result,dictionary.cid) != -1){
                            dictionary.btnclass = "danger";
                            dictionary.disabled = "";
                            dictionary.btnvalue = "已经报名，点击退报";
                            //上树
                            var $dom =  $(complied(dictionary));
                            $dom.appendTo("#corses_table");

                            //绑定红按钮的事件
                            $dom.find("input[type=button]").click(function(){
                                $.get("/tuiding?cid=" +  dictionary.cid + "&sid=<%= xuehao %>",function(){
                                    alert("退订成功");
                                    getinfoandcreatetable();
                                });

                            });
                            return;
                        }

                        //②这个年级是否符合用户的年级规范
                        if(dictionary.grade.indexOf(thisusergrade) == -1){
                            //不在年级许可范围内
                            dictionary.btnclass = "default";
                            dictionary.disabled = "disabled";
                            dictionary.btnvalue = "年级不符合要求";
                            //上树
                            $(complied(dictionary)).appendTo("#corses_table");
                            return;
                        }

                        //③这个星期是否已经被占用，这个事儿最难
                        var isZhanyong = false;
                        data2.result.forEach(function(yijingbaomingdekechengdeCID){
                            //检查data.results数组中，哪个对象的CID和它一样，并且检查它的date是不是和dictionary.date一样
                            data.results.forEach(function(kechengxinxi){
                                if(kechengxinxi.cid == yijingbaomingdekechengdeCID){
                                    //验证date
                                    if(kechengxinxi.date == dictionary.date){
                                        isZhanyong = true;
                                    }
                                }
                            });
                        });
                        if(isZhanyong){
                            //不在年级许可范围内
                            dictionary.btnclass = "default";
                            dictionary.disabled = "disabled";
                            dictionary.btnvalue = "星期" + dictionary.date + "已经被占用";
                            //上树
                            $(complied(dictionary)).appendTo("#corses_table");
                            return;
                        }

                        //④本人已经报名的总数量是不是已经是2了
                        if(data2.result.length == 2){
                            //不在年级许可范围内
                            dictionary.btnclass = "default";
                            dictionary.disabled = "disabled";
                            dictionary.btnvalue = "你已经报名了2个课程";
                            //上树
                            $(complied(dictionary)).appendTo("#corses_table");
                            return;
                        }

                        //⑤这个课程的剩余人数不是大于0
                        if(dictionary.number <= 0){
                            //不在年级许可范围内
                            dictionary.btnclass = "default";
                            dictionary.disabled = "disabled";
                            dictionary.btnvalue = "没有剩余名额";
                            //上树
                            $(complied(dictionary)).appendTo("#corses_table");
                            return;
                        }

                        dictionary.btnclass = "success";
                        dictionary.disabled = "";
                        dictionary.btnvalue = "报名";
                        //上树
                        var $dom = $(complied(dictionary));
                        $dom.appendTo("#corses_table");
                        //绑定监听，这里是绿色按钮。红按钮的监听在上面。
                        $dom.find("input[type=button]").click(function(){
                            $.get("/baoming?cid=" +  dictionary.cid + "&sid=<%= xuehao %>",function(num){
                                if(num == 1){
                                    alert("报名成功！");
                                    getinfoandcreatetable();
                                }else if(num == -1){
                                    alert("已经报名了");
                                }else if(num == -2){
                                    alert("已经报名两个课程了");
                                }else if(num == -3){
                                    alert("星期冲突");
                                }else if(num == -4){
                                    alert("没有名额了");
                                }else if(num == -5){
                                    alert("年级无效");
                                }
                            });

                        });
                    });
                });
            });
        }


        //模糊查询
        $("#mohu").on("input",function(){
            getinfoandcreatetable("/admin/course/search?w=" + $(this).val());
        });
    </script>
</section>
</body>
</html>